<%= form_for(@tweet, url: choose_new_or_edit) do |f| %>
  <div class="error_explanation">
  <% if @tweet.errors.any? %>
    <p><%= @tweet.errors.count %>件のエラーがあります<p>
    <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  </div>
  
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <%= f.submit 'ツイート', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "戻る", tweets_path, class: 'btn btn-default btn-block' %>
